
.logo{
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-box{
    border-radius:100px;
    height:30px;
    width:600px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-button{
    border-radius:5px;
    height:30px;
    width:100px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.search-lucky{
    border-radius:5px;
    height:30px;
    width:120px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 55%;
    transform: translate(-50%, -50%);
}